.contatos{
    padding: 10px;
    margin-top: 64px;
    background: #18191b;
    width: 330px;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: scroll;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    scroll-behavior: unset;
    position: fixed;
    color: white;
}

.contatos div:first-child{
    padding: 0px 0px 20px 0px;
    font-weight: bolder;
    border-bottom: 1px solid #ccc;
}


.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    padding: 10px 0;

}

.items :last-child svg{
    margin-right: 10px;
}

.items svg{
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
    font-size: 33px;
}

.items svg:hover{
    background: #414347;
}