.userlist{
    padding: 10px;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

ul li{
    list-style: none;
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}


ul li span{
    font-weight: bold;
}

.userbox{
    width: 50%;
    margin: 0 auto;
}