.form{
    .form_control{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        label{
            color: rgb(90, 90, 90);
            margin-bottom:3px;
        }

        input{
            padding: 10px;
        }
    }

    .createAcc{
        cursor: pointer;
        font-size: 18px;
        padding: 10px;
        width: 100%;
        border: none;
        background: rgb(0, 240, 32);
        &:hover{
            background: rgb(61, 243, 85);
        }
    }
}