.user_list {
    list-style: none;
    position: relative;
    .user_item {
        display: flex;
        background: rgb(71, 71, 71);
        border-radius: 10px;
        padding: 20px 20px;
        position: relative;
        .picture {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-right: 20px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .user_informations {
        color: rgb(170, 167, 167);

        & :first-child {
            color: white;
            font-weight: 500;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .seguidores {
            font-size: 13px;
            margin-bottom: 15px;
        }
    }
}
