.list-item{
    padding: 10px;
    border: 4px;
    background-color: rgb(4, 235, 93);
    cursor: pointer;
    &:not(:last-child){
        margin-bottom: 10px;
    }
    &:hover{
        background-color: rgb(66, 255, 138);
    }
}
