.popUp {
    width: 400px;
    padding: 10px;
    background: rgb(41, 41, 41);
    position: absolute;
    z-index: 10;
    top: 39px;
    left: -50px;
    overflow: hidden;
    border-radius: 10px;

    & :first-child {
        display: flex;
    }

    .info {
        p {
            font-size: 16px;
            color: #ccc;
            &:first-child {
                font-size: 20px;
                color: white;
                margin-bottom: 15px;
            }
        }
    }

    .image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        img {
            width: 100%;
        }
    }
}
.buttons {
    display: flex;
    margin-top: 20px;
    button {
        padding: 10px;
        cursor: pointer;
        border: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(75, 75, 75);
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
        &:first-child{
            background: rgb(2, 119, 197);
            &:hover{
                background: rgb(9, 157, 255);
            }
        }
        &:hover{
            background: rgb(100, 100, 100);
        }
        &:not(:last-child) {
            text-align: center;
            margin-right: 10px;
            width: 160px;
        }
        &:last-child{
            font-size: 18px;
        }
    }
}
