.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 10;
    background: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal{
        background: whitesmoke;
        width: 500px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 6px;
        overflow: hidden;
        header{
            background: rgb(51, 236, 150);
            padding: 10px;
        }

        .content{
            height: 300px;
        }

        footer{
            background: rgb(51, 236, 150);
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .close-btn{
                cursor: pointer;
                padding: 10px;
                border: none;
                border-radius: 4px;
                background: rgb(0, 0, 0);
                color: white;
            }
        }
    }
}