.header{
    padding: 5px 15px;
    background: #242527;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img{
    width: 40px;
}

/*Logo*/

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.logo input{
    font-size: 15px;
    background: #3a3b3d;
    padding: 10px;
    width: 270px;
    border-radius: 20px;
    border: none;
}

.logo input::placeholder{
    color: #a6a9ad;
}

/*user navigation*/
.user_navigation{
    display: flex;
    align-items: center;
    gap: 10px;
}

/*menu navigation*/
.menu_navigation ul{
    list-style: none;
    gap: 10px;
    display: flex;
}

.user_profile{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 10px;
    color: white;
    padding: 5px 15px 5px 5px;
}

.user_profile:hover{
    background: #3a3b3d;
}


.user_profile img{
    width: 30px;
    border-radius: 100%;
}

.user_menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_menu ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

.user_menu ul li{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: #3a3b3d;
    border-radius: 100%;
}

.user_menu ul li:hover{
    background: #666768;
}

.user_menu ul li svg{
    font-size: 25px;
    color: white;
}

.user_menu ul li div{
    position: absolute;
    display: none;
    color: white;
    position: absolute;
    border-radius: 10px;
    top: 100%;
    margin-top: 12px;
    text-align: center;
    padding: 8px 8px;
    background-color: lightgray;
    z-index: -10;
}

.user_menu ul li:hover div{
    display: block;
}