.header{
    padding: 20px;
    background-color: rgb(185, 6, 176);
    color: white;
    display: flex;
    justify-content: space-between;

    ul{
        display: flex;
        list-style: none;
        align-items: center;
        li{
            &:not(:last-child){
                margin-right: 30px;
            }
            a{
                text-decoration: none;
                color: white;
            }

            button{
                padding: 10px 20px;
                cursor: pointer;
                border: none;
                border-radius: 20px;
                color: white;
                font-weight: 600;
                background-color: black;
                &:hover{
                    background: rgb(58, 57, 57);
                }
            }
        }
    }
}