form{
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px 40px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background: whitesmoke;
}

form h2{
    margin-bottom: 20px;
    color: rgb(77, 77, 77);
}
