form{
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    font-size: 16px;
}

.formControl{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.formControl label{
    display: inline-block;
    margin-bottom: 3px;
}

.formControl input{
    padding: 10px;
    border: 1px solid #ccc;
}


.formControl.Invalid label{
    color: red;
}

.formControl.Invalid input{
    border: 1px solid red;
}