.form-control{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;

}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}