.header{
    padding: 10px 50px;
    background: rgb(56, 55, 55);
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}

.header :first-child{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header img{
    width: 50px;
}

.header input{
    padding: 10px;
    border-radius: 20px;
    border: none;
}
