.homeNavigation ul{
    list-style: none;
    display: flex;
}

.homeNavigation ul li{
    cursor: pointer;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}

.homeNavigation ul li img{
    width: 30px;
}

.homeNavigation ul li:hover{
    background: #3a3b3d;
}