.list{
    position: relative;
}

.list div{
    display: none;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 10px;
    padding: 5px;
    background-color: lightgray;
}

.list:hover div{
    display: block;
}
