.menu_wrapper{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_wrapper .menu_message{
    display: none;
    color: white;
    position: absolute;
    border-radius: 10px;
    top: 100%;
    margin-top: 8px;
    text-align: center;
    padding: 8px 8px;
    background-color: lightgray;
    z-index: -10;
}

.menu_wrapper .list{
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 10px;
}

.menu_wrapper .list:hover{
    background: #3a3b3d;
}

.menu_wrapper:hover .menu_message{
    display: block
}

.menu_wrapper .list svg{
    color: #bbbbbb;
    font-size: 30px;
}

