.menuIcon{
    padding: 10px;
    background-color: #3a3b3d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: .4s;
}

.menuIcon:hover{
    background-color: #5d5e61;
}