.movieInformations{
    padding: 5px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.movieImages{
    border: 1px solid white;
    flex: 1;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
}




.movieImages img{
    width: 100%;
    height: 100%;
}
