.search{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search img{
    width: 40px;
}

.search input{
    width: 240px;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #3a3b3d;
}

.search input::placeholder{
    color: #a1a3a5;
}