.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user :last-child{
    display: flex;
    gap: 10px;
}

.user_profile {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 15px 5px 5px;
    border-radius: 20px;
    transition: 0.5s;
}

.user_profile:hover {
    background: #3a3b3d;
}

.user_profile img {
    border-radius: 100%;
    width: 30px;
}

.user_profile span {
    color: white;
}

.user ul {
    display: flex;
    list-style: none;
}

.user ul img {
    box-sizing: border-box;
    background: #3a3b3d;
    width: 40px;
    padding: 10px;
}
