.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form_control{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        label{
            font-size: 18px;
            font-weight: bold;
        }
        input{
            // flex: 1;
            width: 80%;
            border: 1px solid #ccc;
            padding: 10px;
        }
    }

    .btn_submit{
        padding: 10px;
        border: none;
        color: white;
        font-weight: bold;
        width: 200px;
        border-radius: 20px;
        &.invalid{
            opacity: 0.6;
            cursor: not-allowed;
            background: rgb(158, 158, 158);
        }

        &.valid{
            cursor: pointer;
            background-color: rgb(156, 4, 156);
        }
    }

    
}
