.popUp{
    position: fixed;
    z-index: 1;
    left: 50%;
    width: 400px;
    top: 50%;
}

header{
    background: purple;
    text-align: center;
    color: white;
}

.messages{
    padding: 20px;
    height: 100px;
}