.input{
    background: white;
    width: 400px;
    margin: 0 auto;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-control label{
    color: rgb(117, 116, 116);
}

.form-control input{
    padding: 5px;
}

.buttonInside{
    background: purple;
    border: 1px solid rgb(92, 0, 92);
    color: white;
}

.buttonInside:hover{
    background: rgb(105, 2, 105);
}